#discover {
    color: white;
    width: 100vw;
    padding-top: 75px;
    background-color: rgb(39, 39, 39);
}

.discover-container {
    margin: 0 100px;
    border-left: 1px solid gray;
    /* background-color: lightblue; */
    background-color: rgb(39, 39, 39);

}

.playlist-name {
    display: flex;
    align-items: center;
    width: 70vw;
    height: 125px;
}

.playlist-name > h1 {
    word-break: break-word;
}

.playlist-conveyor-belt {
    width: 75vw;
    border: 1px solid gray;
    border-left: 0;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    height: 272px;
    overflow-x: scroll;
}

.playlist-conveyor-belt::-webkit-scrollbar {
    display: none;
}

.playlistTrack-content {
    margin: 5px;
    padding: 10px;
}

.playlistTrack-cover-photo,
.playlistTrack-imagePath {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.playlistTrack-imagePath {
    padding-bottom: 5px;
    position: relative;
    clip-path: circle();
}

.playlistTrack-imagePath:hover .play-playlistTrack-ctn {
    position: absolute;
    /* height: 100%; */
    top: 74px;
    left: 66px;
    z-index: 2;
}

.play-playlistTrack-ctn {
    position:absolute;
}

.play-pause-playlistTrack {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    clip-path: circle();
}

.fontA-pause,
.fontA-play {
    transition: color 0.2s;
    cursor: pointer;
}

.fontA-pause:hover,
.fontA-play:hover {
    color: rgb(43, 43, 43);
}

.playlistTrack-cover-photo {
    /* opacity: 0.3; */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.playlistTrack-title-artist {
    text-align: center;
    text-shadow: 0px 2px 5px black;
    width: auto;
}

.playlistTrack-title > a {
    color: white;
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}
