#discover {
    color: white;
    width: 100vw;
    background-color: lightblue;
    padding-top: 75px;
}

.playlistTrack-cover-photo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
