.error-page {
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.error-div {
    background-color: rgba(255, 255, 255, 0.6);;
    height: 400px;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.error-img-ctn > img {
    width: 100px;
    height: 100px;
}

.error-img-ctn + p {
    padding: 40px 0;
}

.back-home {
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    width: 125px;

}

.back-home-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 50px;
    width: 125px;
}
