.actionBtn-ctn {
    display: flex;
    flex-direction: row;
}

.edit-btn-ctn > button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin: 15px 10px;
    padding: 5px;
}
