.comment-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.comment-ctn > p {
    text-align: left;
    word-break: break-all;
}

.actionBtn-ctn {
    display: flex;
    flex-direction: row;
    height: 35px;
}

.edit-btn-ctn > button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin: 15px 10px;
    padding: 5px;
}
