.comment-section-ctn > li {
    width: 500px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
    list-style: none;
}

.add-comment-ctn {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.add-comment-box {
    width: 800px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}

.add-comment-box::placeholder {
    padding: 5px 0 0 10px;
}

.comment-manip-ctn {
    flex-direction: row;;
    display: flex;
}

.comment-item,
.track-comment-item,
.comment-action-ctn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.char-count-cmt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 20px;
    padding: 5px;
    font-size: 10pt;
}

.comment-action-ctn {
    padding-top: 20px;
}

.cancel-comment {
    padding-right: 10px;
}

.cancel-comment > button,
.submit-comment > button {
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 8pt;
}
