.delete-ctn,
.delete-button-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-ctn {
    width: 400px;
    height: 150px;
}

.delete-cmt-confirm {
    color: #4E4E4E;
}

.delete-cmt-btns {
    display: flex;
    flex-direction: row;
}

.delete-cmt-ctn > button {
    margin: 10px 10px;
    border: 1px solid #999999;
    background-color: transparent;
    border-radius: 5px;
    color: #4E4E4E;
    width: 70px;
    height: 37px;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: border;
}

.delete-cmt-ctn > button:hover {
    border: 1px solid white;
}
