.comment-section-ctn {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.track-comments {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 70px 0;
    width: 100vw;
    background-color: rgb(128, 128, 128, 0.3);
}
