#update-comment-ctn {
    padding: 10px 0;
}

.edit-comment-input {
    width: 800px;
    resize: none;
    height: auto;
    border: 0;
    border-bottom: 1px solid gray;
    background-color: transparent;
    color: white;
    transition: 0.5s;
    padding: 0;
    font-size: 12pt;
}

.edit-comment-input:focus {
    outline: none;
    border-bottom: 1px solid white;
    transition: 0.3s;
}
