.music-player-ctn {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.track-bar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#272727 25%, black);
    width: 100vw;
    height: 565px;

}

.input-tracker {
    --before-thumb: 0;

    appearance: none;
    background: transparent;
    outline: none;
    width: 100vw;
    z-index: 1;
    height: 100%;
    cursor: pointer;
    -webkit-appearance: none;
}

.volume-bar {
    --before-volume-thumb: 100px;

    appearance: none;
    outline: none;
    width: 100px;
    z-index: 1;
    height: 5px;
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    background-color: #272727;
    border-radius: 5px;
}

.input-tracker::before {
    content: '';
    height: 565px;
    width: var(--before-thumb);
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

.volume-bar::before {
    content: '';
    height: 5px;
    position: absolute;
    width: var(--before-volume-thumb);
    border-radius: 5px;
    /* width: 50px; */
    background: #F050ED;
    /* top: 0;
    left: 0; */
    z-index: 2;
    cursor: pointer;
}

input[type=range].input-tracker::-webkit-slider-thumb {
    appearance: none;
    /* border: 1px solid black; */
    height: 565px;
    width: 1px;
    cursor: pointer;
}

input[type=range].volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 3;
    background: white;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
}

.volume-bar:hover::-webkit-slider-thumb {
    /* -webkit-appearance: none; */
    height: 15px;
    width: 15px;
    border-radius: 50%;
    z-index: 3;
    background: white;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    box-sizing: border-box;
}

.cover-photo-ctn {
    position: absolute;
}

.cover-photo {
    width: 200px;
    height: 200px;
}

.duration-ctn {
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
    background-color: black;
}

.top-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.track-info-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 40px 0;
    background-color: black;

}

.description {
    height: auto;
    width: 600px;
    inline-size: 600px;
    overflow-wrap: break-word;
}

.track-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.track-title,
.track-artist,
.likes-section {
    margin-left: 50px;
}

.track-title > span {
    margin: 0;
    font-size: 18pt;
    word-break: break-word;
    max-width: 675px;
}

.track-artist > p {
    font-size: 12pt;
    margin: 0;
}

.liked-icon {
    color: #F050ED;
}

.unlike-button,
.like-button {
    border: 0;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 0;
}

.like-button {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 0.6s;
}

.like-count {
    padding-left: 10px;
}

.media-controls {
    height: 100px;
    width: 100vw;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.title-date-ctn,
.artist-genre-ctn,
.track-like-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.artist-genre-ctn,
.track-like-icon {
    padding-top: 10px;
}

.title-date-ctn {
    padding-top: 30px;
}

.control-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px;
    margin: 0 auto;
}

.back,
.play-pause,
.next,
.shuffle,
.volume,
.inline-edit-Track,
.track-delete-btn {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.fa-backward-step,
.fa-circle-pause,
.fa-circle-play,
.fa-forward-step,
.shuffle,
.fa-volume-high,
.fa-pen,
.fa-trash {
    transition-duration: 0.2s;
    transition-property: opacity;
}

.fa-backward-step:hover,
.fa-circle-pause:hover,
.fa-circle-play:hover,
.fa-forward-step:hover,
.shuffle:hover,
.fa-volume-high:hover,
.fa-pen:hover,
.fa-trash:hover {
    opacity: 40%;
}

.play-ctn {
    padding: 0 40px;
}

.control-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: auto;
}

.genre-ctn,
.date-ctn,
.volume-ctn {
    display: flex;
    justify-content: flex-end;
    width: 210px;
    margin-right: 50px;
}

.volume-ctn {
    align-items: center;
    height: 25px;
}

.shuffle-ctn,
.delete-cancel-ctn,
.edit-save-ctn {
    width: 30px;
    padding: 0 50px;
}

.delete-cancel-ctn {
    margin-left: auto;
}
.edit-save-ctn {
    margin-right: auto;

}

.edit-save-ctn > a {
    color: white;
}

@keyframes bounce {
    0% {
      transform: translateY(0px);
    }

    25% {
      transform: translateY(-25px);
    }

    35% {
      transform: translateY(-25px);
    }

    100% {
      transform: translateY(0);
    }
}
