.music-player-ctn {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.media-controls {
    display: flex;
    flex-direction: row;
}

.track-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    background-color: lightblue;
}

.cover-photo {
    width: 200px;
    height: 200px;
}

.media-controls {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control-left {
    justify-content: flex-start;
}

.control-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

.back,
.play,
.pause,
.next {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.play-ctn {
    padding: 0 40px;
}

.control-left,
.volume-ctn {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    /* padding-right: 80px; */
    width: 200px;
    height: 40px;
}

.volume-ctn {
    justify-content: flex-end;
}
