.music-player-ctn {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.track-bar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#272727 25%, black);
    width: 100vw;
    height: 565px;

}

/* .input-tracker {
    appearance: none;
    background: var(--track-background);
    outline: none;
    width: 100vw;
    z-index: 4;
} */

/* .cover-photo-ctn {
    z-index: 3;
} */

.cover-photo {
    width: 200px;
    height: 200px;
}

.duration-ctn {
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
}

.top-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.track-info-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 40px 0;
    background-color: black;

}

.description {
    height: auto;
    width: 600px;
    inline-size: 600px;
    overflow-wrap: break-word;
}

.track-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.track-title,
.track-artist,
.track-like-icon {
    margin-left: 50px;
}

.track-title > span {
    margin: 0;
    font-size: 18pt;
    word-break: break-word;
    max-width: 675px;
}

.track-artist > p {
    font-size: 12pt;
    margin: 0;
}

.liked-icon {
    color: #F050ED;
}

.unlike-button,
.like-button {
    border: 0;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 0;
}

.like-button {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 0.6s;
}

.like-count {
    padding-left: 10px;
}

.media-controls {
    height: 100px;
    width: 100vw;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.title-date-ctn,
.artist-genre-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.artist-genre-ctn,
.track-like-icon {
    padding-top: 10px;
}

.track-like-icon {
    display: flex;
    align-items: center;
}

.title-date-ctn {
    padding-top: 30px;
}

.control-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px;
    margin: 0 auto;
}

.back,
.play-pause,
.next,
.shuffle,
.volume,
.inline-edit-Track,
.track-delete-btn {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.fa-backward-step,
.fa-circle-pause,
.fa-circle-play,
.fa-forward-step,
.shuffle,
.fa-volume-high,
.fa-pen,
.fa-trash {
    transition-duration: 0.2s;
    transition-property: opacity;
}

.fa-backward-step:hover,
.fa-circle-pause:hover,
.fa-circle-play:hover,
.fa-forward-step:hover,
.shuffle:hover,
.fa-volume-high:hover,
.fa-pen:hover,
.fa-trash:hover {
    opacity: 40%;
}

.play-ctn {
    padding: 0 40px;
}

.control-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: auto;
}

.genre-ctn,
.date-ctn {
    display: flex;
    justify-content: flex-end;
    width: 210px;
    margin-right: 50px;
}

.volume-ctn,
.shuffle-ctn,
.delete-cancel-ctn,
.edit-save-ctn {
    width: 30px;
    padding: 0 50px;
}

.delete-cancel-ctn {
    margin-left: auto;
}
.edit-save-ctn {
    margin-right: auto;

}

.edit-save-ctn > a {
    color: white;
}

@keyframes bounce {
    0% {
      transform: translateY(0px);
    }

    25% {
      transform: translateY(-25px);
    }

    35% {
      transform: translateY(-25px);
    }

    100% {
      transform: translateY(0);
    }
}
