.edit-track-form-ctn {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 44);
    padding-top: 75px;
}

.edit-track-content > h1 {
    width: 718px;
    border-bottom: 1px solid white;
}

.asterisk-required {
    width: 100%;
    font-size: 10pt;
    font-style: italic;
    color: rgba(255, 255, 255, 0.75)
}

.edit-track-form-content,
.edit-description-div {
    width: 718px;
    display: flex;
    flex-direction: column;
}

#form-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#top-row,
#middle-row {
    display: flex;
    flex-direction: row;
    width: 718px;
}

.title-div,
.imagePath-div,
.genre-div-ctn {
    width: 400px;
    padding-top: 35px;
}

#edit-right-middle {
    width: 100%;
    padding-top: 35px;
}

.imagePath-div {
    display: flex;
    flex-direction: column;
}
/* .title-div {
    padding-right: 35px;
} */

.title-div > span,
.imagePath-div > span,
.genre-div > span,
.edit-description-div > span {
    padding-bottom: 20px;
    font-size: 16pt;
}

.left-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 400px;
    /* padding-right: 100px; */
}


#edit-right-middle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 44px;
}

.edit-preview-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid white;
}

.edit-preview-ctn,
.edit-photo-preview {
    width: 212px;
    height: 212px;
    border-radius: 5px;
}

.fa-camera {
    padding-right: 10px;
}

.imagePath-input-label {
    justify-content: center;
    position: absolute;
    border: 1px solid black;
    background-color: rgba(211, 211, 211, 0.8);
    height: 30px;
    width: 125px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}

.imagePath-input-label:hover {
    transition: 0.2s;
    background-color: white;
}

.title-div > input,
.genre-div > select,
.imagePath-div > input,
.edit-description-div > textarea {
    border: 1px solid white;
    background-color: transparent;
    height: 40px;
    border-radius: 5px;
    color: white;
    padding: 0 10px;
}

.genre-div > select {
    color: white;
    cursor: pointer;
    appearance: none;
}

.title-div > input::placeholder,
.imagePath-div > input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 10pt;
}

.title-div,
.genre-div {
    display: flex;
    flex-direction: column;
}

.imagePath-input-label {
    display: flex;
    align-items: center;
    font-size: 10pt;
    cursor: pointer;
}

.error-div {
    width: 400px;
    height: 50px;

}

.error-div > .error-message {
    padding: 0;
}

.edit-description-div {
    padding-top: 50px;
}

.edit-description-div > textarea {
    height: 150px;
    padding: 15px 0 0 15px;
    resize: none;
}

.update-track-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cancel-track-btn,
.create-track-btn {
    display: flex;
    justify-content: flex-end;
    padding: 50px 0 50px 0;
}

.cancel-track-btn > button,
.create-track-btn > button {
    background-color: transparent;
    font-size: 12pt;
    /* font-weight: bold; */
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 125px;
    height: 50px;
    /* margin: 20px 10px; */
    cursor: pointer;
}

.cancel-track-btn {
    padding-right: 50px;
}

.cancel-track-btn > button:hover,
.create-track-btn > button:hover {
    background-color: white;
    color: black;
    transition: color 0.15 ease-in;
    transition: background-color 0.15s ease-in;
}

.char-count-cmt {
    width: 100px;
}

.req {
    color:rgb(246, 94, 94);
}
