.splash-ctn,
.home-banner-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-ctn {
    flex-direction: column;
    width: 1240px;
    height: 1500px;
    background-color: rgb(255, 255, 255);
}

.home-banner-ctn {
    width: 1240px;
    height: 450px;
    background-image: url('../../../public/images/home-banner.jpg');
    background-size: 100%;
    background-position: center;

}

.banner-header {
    color: white;
    font-family: sans-serif;
    font-size: 150px;
}
