.splash-ctn,
.home-banner-ctn {
    display: flex;
    align-items: center;
}

.splash-ctn {
    margin: auto;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    background-color: black;
    color: white;
}

.home-banner-ctn {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/images/home-banner.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    justify-content: center;
}

@keyframes slide-fade {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

.banner-header {
    color: white;
    font-size: 150px;
    animation-name: slide-fade;
    animation-duration: 3s;
}

.splash-upload,
.splash-listen,
.splash-connect {
    width: 100vw;
    height: 1200px;

}

.track-content {
    background-color: white;
    color: black;

}

.splash-listen {
    background: linear-gradient(black 30%, #041742);
    background-blend-mode: normal;
}

.splash-connect {
    background: linear-gradient(#041742 5%, black);
    background-blend-mode: normal;

}

.splash-upload,
.splash-listen,
.splash-connect {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.upload-img-ctn,
.listen-img-ctn,
.connect-img-ctn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.splash-upload-text,
.splash-listen-text,
.splash-connect-text {
    height: 100vh;
    width: 450px;
    font-weight: bold;
    font-size: 80pt;
}

.upload-img-ctn,
.connect-img-ctn {
    width: 100%;
}

.splash-upload-text {
    display: flex;
    /* flex-direction: row-reverse; */
    /* justify-content: flex-end; */
    align-items: center;
    padding: 0 140px;
}

.listen-img-ctn {
    height: 1200px;
    width: 850px;
}

.listen-img {
    width: 850px;
    height: 550px;
}


.splash-listen-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    /* padding: 0 70px 0 100px; */
    width: 100%;

}

.splash-listen-text > p {
    display: flex;
    width: 400px;
    padding-right: 130px;
}

.splash-connect-text {
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.connect-img-ctn {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
}

.connect-img {
    width: 900px;
    height: 600px;
}

.track-content {
    background-color: black;
    color: white;
}


.splash-upload-btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 50, 200);
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 55px;
    font-weight: bold;
    font-size: 14pt;
    text-decoration: none;
}

.splash-upload-btn > a:hover {
    transition: opacity 0.15s ease-in;
    opacity: 70%;
}

.splash-upload-btn {
    display: inline-flex;
    justify-content: center;
    height: 65px;
    width: 100vw;
}

.splash-track-header {
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    font-size: 28pt;
}

.splash-track-grid {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-track-grid > ul {
    display: grid;
    grid-template-areas:
    "img img img img img img"
    "img img img img img img";
    list-style: none;
    padding-inline-start: 0;
    width: 100vw;
    justify-content: center;
}

.track-container {
    padding: 20px;
    width: 175px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.grid-image {
    grid-area: img;
    width: 175px;
    height: 175px;
    /* opacity: 1; */
    transition-duration: 0.3s;
    transition-property: opacity;
}

.grid-image:hover {
    opacity: 30%;
}

.splash-track-title,
.splash-track-artist {
    width: 175px;
}

.truncate-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}

.splash-track-title > a > span,
.splash-track-artist > span {
    display: block;
}

.splash-track-title > a,
.splash-track-artist {
    color: lightgray;
}

.splash-track-title > a {
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: color;
}

.splash-track-title > a:hover {
    color: gray;
}

.splash-closing-remarks {
    background: linear-gradient(rgb(0, 0, 0) 1%, rgba(86, 30, 88, 0.8) 50%, rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.splash-closing-remarks h2 {
    font-size: 48pt;
}

.remarks-btns {
    display: flex;
    flex-direction: row;
}

.remarks-btns > .signup-modal-ctn > .signupModal-btn,
.remarks-btns > .demo-btn {
    background-color: transparent;
    font-size: 12pt;
    /* font-weight: bold; */
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 125px;
    height: 50px;
    margin: 20px 10px;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: background-color, color;
}

.remarks-btns > .signup-modal-ctn > .signupModal-btn:hover,
.remarks-btns > .demo-btn:hover,
.account-inquiry-span > .login-modal-ctn > .loginModal-btn:hover {
    background-color: white;
    color: black;
}

.account-inquiry-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10pt;
}

.account-inquiry-span span {
    margin: 0 10px;
}
.account-inquiry-span .loginModal-btn {
    margin: 0 10px;
    background-color: transparent;
    font-size: 8pt;
    /* font-weight: bold; */
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 70px;
    height: 35px;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: background-color, color;
}

footer {
    background-color: black;
    height: 100px;
    border-top: 1px solid lightgray;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
}

footer > a {
    color: lightgray;
    text-decoration: none;
    padding: 0 40px;
    transition-duration: 0.3s;
    transition-property: color;
}

footer > a:hover {
    color: gray;
}
