.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, black 5%, #427EF2 25%, #EA53F2 75%, black 95%);
}

.navbar-list {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
